name: Run Lance Benchmarks

on:
  workflow_dispatch:
    inputs:
      git_sha:
        description: "Git SHA to benchmark"
        required: true
        type: string

jobs:
  bench-io:
    uses: ./.github/workflows/run-rust-benchmarks.yml
    with:
      git_sha: ${{ inputs.git_sha }}
      crate_path: "rust/lance-io"
    secrets:
      LANCE_BENCH_DB_URI: ${{ secrets.LANCE_BENCH_DB_URI }}
      BENCH_S3_USER_ACCESS_KEY: ${{ secrets.BENCH_S3_USER_ACCESS_KEY }}
      BENCH_S3_USER_SECRET_KEY: ${{ secrets.BENCH_S3_USER_SECRET_KEY }}

  bench-index:
    if: false # TODO: Currently these are failing
    uses: ./.github/workflows/run-rust-benchmarks.yml
    with:
      git_sha: ${{ inputs.git_sha }}
      crate_path: "rust/lance-index"
    secrets:
      LANCE_BENCH_DB_URI: ${{ secrets.LANCE_BENCH_DB_URI }}
      BENCH_S3_USER_ACCESS_KEY: ${{ secrets.BENCH_S3_USER_ACCESS_KEY }}
      BENCH_S3_USER_SECRET_KEY: ${{ secrets.BENCH_S3_USER_SECRET_KEY }}

  bench-linalg:
    uses: ./.github/workflows/run-rust-benchmarks.yml
    with:
      git_sha: ${{ inputs.git_sha }}
      crate_path: "rust/lance-linalg"
    secrets:
      LANCE_BENCH_DB_URI: ${{ secrets.LANCE_BENCH_DB_URI }}
      BENCH_S3_USER_ACCESS_KEY: ${{ secrets.BENCH_S3_USER_ACCESS_KEY }}
      BENCH_S3_USER_SECRET_KEY: ${{ secrets.BENCH_S3_USER_SECRET_KEY }}

  bench-file:
    if: false # TODO: Currently these are failing
    uses: ./.github/workflows/run-rust-benchmarks.yml
    with:
      git_sha: ${{ inputs.git_sha }}
      crate_path: "rust/lance-file"
    secrets:
      LANCE_BENCH_DB_URI: ${{ secrets.LANCE_BENCH_DB_URI }}
      BENCH_S3_USER_ACCESS_KEY: ${{ secrets.BENCH_S3_USER_ACCESS_KEY }}
      BENCH_S3_USER_SECRET_KEY: ${{ secrets.BENCH_S3_USER_SECRET_KEY }}

  bench-encoding:
    uses: ./.github/workflows/run-rust-benchmarks.yml
    with:
      git_sha: ${{ inputs.git_sha }}
      crate_path: "rust/lance-encoding"
    secrets:
      LANCE_BENCH_DB_URI: ${{ secrets.LANCE_BENCH_DB_URI }}
      BENCH_S3_USER_ACCESS_KEY: ${{ secrets.BENCH_S3_USER_ACCESS_KEY }}
      BENCH_S3_USER_SECRET_KEY: ${{ secrets.BENCH_S3_USER_SECRET_KEY }}

  bench-python:
    uses: ./.github/workflows/run-python-benchmarks.yml
    with:
      git_sha: ${{ inputs.git_sha }}
    secrets:
      LANCE_BENCH_DB_URI: ${{ secrets.LANCE_BENCH_DB_URI }}
      BENCH_S3_USER_ACCESS_KEY: ${{ secrets.BENCH_S3_USER_ACCESS_KEY }}
      BENCH_S3_USER_SECRET_KEY: ${{ secrets.BENCH_S3_USER_SECRET_KEY }}
